name: Validate Nastifile

on:
  push:
    branches:
      - master  # Change 'main' to your main branch name
  pull_request:
    branches:
      - master  # Change 'main' to your main branch name
jobs:
  test:
    runs-on: ubuntu-latest  # Use any runner you prefer

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11  # Replace '3.x' with your desired Python version

    - name: Install dependencies
      run: |
        pip install nasti

    - name: tests
      run: nasti validate

